table tr {
    border: 1px solid #00000030;
    transition: background-color 0.2s ease-in-out;
}

.tab tr {
    border: 1px solid transparent;
    transition: background-color 0.2s ease-in-out;
}

.tab tr:nth-child(odd) {
    background-color: rgba(7, 8, 10, 0.12)
}

.tab tr:nth-child(odd):hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.tab tr:nth-child(even) {
    background-color: #fff;
}

.tab tr:nth-child(even):hover {
    background-color: rgba(206, 206, 206, 0.3);
}

.tab th {
    cursor: pointer;
}

.tr-color {
    background-color: #85b3f3 !important;
}
tbody>tr>td{
    padding: 10px;
    background-color: #f6f6f6;
    box-shadow: 2px 5px 18px rgba(122, 122, 122, 0.15);
    border-radius: 5px;
}

.overflow {
    overflow: auto;
    width: 400px;
    height: 200px;
    vertical-align: text-top;
}

a:link {
    text-decoration: none;
}

.colorred {
    background: #ffafaf;
}

.colorgreen {
    background: #00ff1a8c;
}

*{
        box-sizing: border-box;
        margin:0; 
        padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    /*font-family: 'Montserrat', sans-serif;*/
    color: #000;
    height: 100%;
}
.wrapper{
    max-width: 100%;
}
.inner{
    width: 90%;
    margin:0 auto;
}
.inner>table{
    width: 100%;
    border:none;
    background-color: #f6f6f6;
    box-shadow: 2px 5px 18px rgba(122, 122, 122, 0.15);
    border-radius: 5px;
    margin-top: 20px;
}



/* header */

header {
    background: #5b5c61;
}

header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 auto;
    min-width: inherit;
}

.logo {
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    color: rgb(232, 232, 232);
    cursor: pointer;
}

.slogan {
    color: rgb(232, 232, 232);
    font-size: 16px;
}

.socials {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.socials li:first-child {
    margin-right: 10px;
}

.socials li {
    position: relative;
}

.socials li a {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.vk {
    content: '';
    width: 30;
    height: 30;
    background-image: url(/ico/vk-logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(100%);
}

.yt {
    content: '';
    width: 30;
    height: 30;
    background-image: url(/ico/youtube.svg);
    background-size: cover;
    background-repeat: no-repeat;
}


/*END header */

.block{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    align-items:center;
margin-bottom: 5px;
justify-content: space-between;
width: 510px;
}
.row.check{
    justify-content: flex-start;
}
.row.check input{
    margin:0;
    margin-right: 5px;
}
button{
    padding: 10px;
    background-color: #815bb4;
    display: inline-flex;;
    justify-content: center;
    align-items: center;
    color: #fff;
    border:none;
    border-radius: 4px;
    margin:5px;
    transition:.3s all;
    cursor:pointer;
}
button:hover{
    background-color:#817bc9 !important;
}


@media screen and ( max-width: 1170px) {
  .inner{
    width: 100%;
  }
  .overflow{
    width: 245px;
  }
}